* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/********** General*********/

body {
  padding: 10px 30px;
  background-color:  #F8F5ED
}


header,
main {
  max-width: 1200px;
  margin: 0 auto;
  background: transparent;
}

header {
  position: static;
  background: transparent;
  box-shadow: none;
  padding: 10px 0;
}

header nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

header nav a {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 15px;
  display: block;
  padding: 8px 14px;
  border-radius: 9999px;
  color: #000000;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease, transform 0.08s ease;
}

header nav a:hover,
header nav a:focus {
  background-color: #F8F5ED;
  color: #000000;
  transform: translateY(-1px);
  transform: rotate(10deg);
}



/******Desktop*****/

@media screen and (max-width: 840px) {
  header,
  main {
    max-width: 768px;
    }}


  header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}


.logo img {
  height: 70px;
  width: auto;
  display: block;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
}

/********* teskt format********/


footer {
  color: #000000;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:transparent ;
  text-align: left;
  padding: 10px;
  
}

/******************index***************/
.nav-tiles {
  display: grid;
  gap: 1rem;
}

.tile {
  display: flex;                    
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 20px;
  height: 120px;
  color: #222;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;          
}


/* Specifikke billeder for hver type vin */
.tile-mousserende{
  background-image: url('vinwebside/image/menubox_index/menu_moussernde.webp');
}
.tile-hvid {
  background-image: url('vinwebside/image/menubox_index/menu_hvid.webp');
}
.tile-orange {
  background-image: url('vinwebside/image/menubox_index/menu_orange.webp');
}
.tile-rose {
  background-image: url('vinwebside/image/menubox_index/menu_rose.webp');
}
.tile-rod{
  background-image: url('vinwebside/image/menubox_index/menu_rod.webp')
}
.tile-dessert {
  background-image: url('vinwebside/image/menubox_index/menu_dessert.webp');
}
.tile-om_os {
  background-image: url('vinwebside/image/menubox_index/menu_om_os.webp');
}


/* *********burger *********/
.menu img {
  height: 30px;      /* vælg 30–60px efter smag */
  width: auto;       /* vigtigt: overstyrer global width:100% */
  display: block;
}


.menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}



@font-face {
  font-family: "Oregano";
  src: url(vinwebside/fonts/Oregano-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM sans";
  src: url(vinwebside/fonts/DMSans_18pt-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url(vinwebside/fonts/Nunito-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

h1{
  font-family: "Oregano", sans-serif;
  font-weight: 100;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
  hyphens: auto;
}

h2{
 font-family: "DM sans", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
  hyphens: auto;
}
h3{
  font-family: "Oregano", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
  hyphens: auto;
}

p, a, footer {
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  margin-bottom: 1rem;
  justify-content: flex-end;
  hyphens: auto;
  white-space: pre-line;
}
.copy{ max-width: 64ch; }
.copy p{ line-height:1.6; }

.overskrift{
justify-items: center; 
padding-bottom: 2rem;
}

/*************** Vin oversigt siderne ******************/
/* produkt-oversigt */


.produkter {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;
  max-width: 1400px;                     
  margin: 0 auto;
  text-align: center;
  margin-bottom: auto;
  margin-top: auto;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
 
.product .flasker {
  width: auto;   
  max-width: 180px; 
  margin: 0 auto 10px;
}

.product .btn {
  width: auto;
  max-width: 130px;
  margin: 8px auto 0;
}

.product > :last-child {
  margin-bottom: auto;
  justify-items: end;
}



/* Tablet */
@media (max-width: 900px) {
  .produkter { grid-template-columns: repeat(2, 1fr); }
  .product-grid { grid-template-columns: repeat(2, 1fr);}
}
/* Mobil */
@media (max-width: 560px) {
  .produkter { grid-template-columns: 1fr; }
  .product-grid { grid-template-columns: repeat(2, 1fr);}
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 340px 1fr; 
  padding-right: 20px;
  gap: 30px;
  align-items: start;
}

.product-copy{
display: grid;
justify-items: center;
padding: 18px;
}

/******* siden for enkel vine*******/
.bottle img {
  width: auto;
  max-width: 400px;    
  margin: 0 auto;      
  display: flex;
  padding: 30px;
}
.priskasse {
 display: flex;
 align-items: center;
 gap: 10px;
}

.priskasse .btn-cart {
  margin: 0;
  justify-items: center;
  padding: 10px;
}

.priskasse h3{
  font-weight: 500;
}

.btn-cart {
  width: auto;
  max-width: 160px;
  display: block;
}

.notes {
  width: auto;
  max-width: 360px; 
  display: block;
}


.sidebar h3 { margin-bottom: 8px; }
.sidebar .btn-cart { margin: 10px 0 10px; }
.sidebar h2 { margin: 12px 0 8px; }


@media (max-width: 840px) {
  .product-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;}

  .bottle img  {
     grid-template-columns: 1fr; justify-self: center;}
  
 .priskasse {
    grid-template-columns: 1fr 1fr;
  justify-self: center;}

.notes {
  display:grid;
  grid-template-columns: 1fr;
  justify-self: center;
}}



/*****************  Santa Julia   *******************/



@media (min-width: 840px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px; }
    
  .grid_1-1 .profil {
    justify-self: center;
  }
 .grid_1-1 .kort {
    grid-template-columns: 1fr;
  }
}

 .grid_1-1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 10px;
  }

 .grid_1-1 .profil img{
  width: 100%;
  max-width: 340px;
  height: auto;
  border-radius: 8px;
}

.top-row{
display: grid;
grid-template-columns: 340px 1fr;
gap: 40px;
align-items: start;
}

.under-row{  
  display: flex;
  flex-direction: column;
  column-gap: 40px;
  gap: 30px;
}
 



/* Kort-rækken */
.kort-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  justify-items: center;
  align-items: start;
  margin-top: 30px;
}

.kort-row figure {
  max-width: 400px;
  text-align: center;
}

.kort-row img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.kort-row figcaption {
  font-weight: bold;
  margin-top: 8px;
}

.kort-row p {
  margin-top: 6px;
  line-height: 1.5;
  text-align: left;
}

/* Responsiv til mobil/tablet */
@media (max-width: 900px) {
  .grid_1-1 { grid-template-columns: 1fr; }
  .profil { justify-self: center; }
  .kort-row { grid-template-columns: 1fr; }
}





.copy_1{
display: table-cell;
justify-items: center;
padding: 18px;
}




.copy_drurer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}


 .grid_1-1 .kort{
  grid-column: 1 /-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  margin-top: 40px;
}
 




 .kort img{max-width :320px; height: auto; display: block;}
 .kort figcaption{text-align: center; margin-top: 6px;}


 /* Responsivt: stack på mobil/tablet */
@media (max-width: 900px){
  .grid_1-1{ grid-template-columns: 1fr; }
  .profil{ justify-self:center; }
  .copy{ max-width: 70ch; }
  .top-row { grid-template-columns: 1fr; }
  .under-row { grid-template-columns: 1fr; }
  .kort{ grid-template-columns: 1fr; }
  .copy_1{ max-width: 70ch; }
  .copy_drurer{max-width: 70ch;}
 
}

/****** Burger menu ******/
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #F8F5ED;
}

.logo img {
  width: 80px;
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  color: #d66e0d;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #F8F5ED;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
  footer { display: none;}
}
